* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
:root {
    font-size: 62.5%;
}
#app {
    display: grid;
    grid-template-rows: max-content 1fr max-content;
    height: 100vh;
}
body {
    font-family: 'Mulish', sans-serif;
    font-size: 1.6rem;
}
header {
    padding: 1.2rem auto;
    background-color: #387E96;
}
.logo {
    background-color: white;
    border-radius: 999px;
    padding: .8rem;
    width: 4rem;
    height: 4rem;
}
.avatar {
    height: 4rem;
    width: 4rem;
}
header nav {
    display: flex;
    gap: 2.8rem;
    padding: 1.2rem 2.8rem;
    max-width: 112rem;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}
header form {
    flex: 1;
}
.input-wrapper label {
    height: 1px;
    width: 1px;
    overflow: hidden;
    position: absolute;
}
.input-wrapper input{
    width: 100%;
    padding: 1.2rem;
    background-color: rgba(255, 255, 255, 0.20);
    border: none;
    border-radius: .4rem;
    font-size: 1.6rem;
    height: 4rem;
}
.input-wrapper input::placeholder{
    font-weight: 600;
    color: white;
}
.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
main {
    display: grid;
    grid-template-columns: 1fr max-content;
    gap: 3.4rem;
    padding: 4rem 11rem;
    overflow-y: scroll;
}
.text img {
    width: 100%;
    max-width: 803px;
}
.text p {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 2.56rem;
    max-width: 803px;
}
.title {
    display: flex;
    align-items: center;
    margin-top: 3.1rem;
    margin-bottom: 3.1rem;
}
.title h1 {
    flex: 1;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 3.84rem;
}
.title span {
    background-color: #387E96;
    border-radius: 50%;
    padding: 1.2rem 1.2rem;
    height: 4rem;
    width: 4rem;
    align-items: center;
    justify-items: center;
}
.title span + span {
    margin-left: 1.2rem;
}
.title span img{
    width: 1.6rem;
    height: 1.6rem;
}
.item {
    align-items: flex-start;
}
.side h2 {
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 3.8rem
}
.details h3 {
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 2.8rem
}
.details p {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 2.2rem;
}
main .side {
    display: flex;
    flex-direction: column;
    gap: 3.4rem;
    min-width: 38.5rem;
}
main .side figure {
    display: flex;
    align-items: flex-start;
}
figure img {
    width: 151px;
    height: 84px;
    margin-right: 1.6rem;
    display: block;
}
.side .item{
    max-width: 384px;
    align-items: center;
}

footer {
    background-color: #387E96;
    color: white;
    display: flex;
    width: 100%;
    padding: 16px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
}
footer p {
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
@media (max-width: 1070px) {
    main {
        display: flex;
        flex-direction: column;
        padding: 2.2rem;
    }
    .title {
        display: inline-block;
    }
    .title span {
        display: inline-block;
        height: 4rem;
        width: 4rem;
    }
    .title h1 {
        margin-bottom: .8rem;
    }
    .side {
        margin-bottom: 4.1rem;
        align-self: center;
    }
}